langchain
python_dotenv
langchain-openai
langchain_core
langchain_community
bs4
faiss-cpu
pypdf
pymupdf
wikipedia
lxml    
arxiv   
langchain_huggingface
langchain_groq
streamlit
langgraph    
langgraph-cli[inmem]
smolagents
youtube_transcript_api